html {
	scroll-behavior: smooth;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;

	&.jp {
		font-family: 'Noto Sans JP', sans-serif;
	}
}
.jp {
	font-family: 'Noto Sans JP', sans-serif;
}
svg {
	vertical-align: middle;
}
img {
	max-width: 100%;
}
.isOpen {
	> *:not(.no-filter) {
		filter: blur(20px);
		animation: filter 1s linear;
	}
}
.no-filter {
	filter: blur(0px) !important;
}
.bg {
	width: 100%;
	min-height: 100vh;
	background: rgb(0, 44, 2) url(../image/bg.png) repeat-y;
	background-size: 100% auto;
	color: #fff;
	font-size: 16px;
}
.container {
	width: 100%;
	max-width: 1440px;
	padding: 0 20px;
	margin: 0 auto;
	@media (max-width: 1440px) {
		max-width: 1220px;
	}
	@media (max-width: 820px) {
		max-width: 100%;
	}
}

header {
	display: flex;
	padding: 20px 20px 40px !important;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	.logo {
		width: 206px;
		line-height: 0;
	}
	.nav {
		flex: 1;

		ul {
			display: flex;
			gap: (50/1400) * 100%;
			line-height: 50px;
			align-items: center;
			justify-content: center;
			li {
				a {
					color: #fff;
					padding: 5px 7px;
					border-radius: 22px;

					&:hover {
						color: #000;
						background: #fff;
					}
				}
			}
		}
	}
	.lan {
		position: relative;
		.cre {
			position: relative;
			z-index: 1;
			width: 95px;
			display: inline-block;
			height: 30px;
			padding: 0 10px;
			line-height: 30px;
			border-radius: 15px;
			background: rgb(162, 193, 89);
			text-align: center;
			svg {
				vertical-align: middle;
			}
			i {
				font-style: normal;
				color: #000;
			}
		}
		.locale {
			position: absolute;
			left: 0px;
			right: 0;
			top: 15px;
			padding: 30px 0 15px;
			background: #fff;
			border-radius: 0 0 15px 15px;
			color: #000;
			text-align: center;
			transition: all 0.2s linear;
			transform-origin: top center;
			transform: scaleY(0);
			a {
				color: inherit;
			}
			&.open {
				transform: scaleY(1);
			}
		}
	}
	.share {
		margin-right: 5%;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.Socials {
		// width: 133px;
		height: 30px;
		padding: 0 5px;
		line-height: 30px;
		background: rgb(2, 63, 5);
		display: inline-flex;
		gap: 10px;
		border-radius: 15px;
		padding: 0 10px;
	}
	.list {
		margin-left: 10px;
		display: inline-flex;
		gap: 15px;
	}
	.show-phone {
		margin-left: 20px;
		width: 32px;
		display: none;
	}
	@media (max-width: 820px) {
		position: fixed;
		height: 65px;
		background: rgba($color: #000000, $alpha: 0.2);
		padding: 10px 20px 0px !important;
		padding: 20px;
		z-index: 999;
		.nav {
			display: none;
		}
		.show-phone {
			display: block;
		}
		.close {
			display: none;
		}
	}
	@media (max-width: 577px) {
		.share {
			display: none !important;
		}
		.logo {
			width: 140px;
		}
		.lan {
			.cre {
				font-size: 13px;
			}
		}
	}
}

.nav-box {
	z-index: 99;
	height: 100vh;
	position: fixed;
	z-index: 999;
	top: 0;
	transform: translateX(-100%);
	width: 59%;
	background: #fff;
	text-align: center;
	padding-top: 50px;
	backdrop-filter: 30px;
	font-size: 20px;
	transition: all 0.5s;
	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		svg {
			* {
				fill: #000;
			}
		}
	}
	svg {
		height: 27px;
		width: 27px;
	}
	.a a {
		line-height: 40px;
		color: #000;
		border-bottom: 1px solid #fff;
		text-shadow: 1px 1px #bab4b4;
	}

	.share {
		margin-right: 5%;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.Socials {
		// width: 133px;
		padding: 0 10px;
		line-height: 30px;
		background: #a2c159;
		display: inline-flex;
		gap: 10px;
		border-radius: 20px;
		padding: 5px 10px;
		margin: 20px 0px;
	}
	.list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		svg:nth-child(1) {
			width: 30px;
			height: 30px;
		}
	}
}
.isOpen {
	.nav-box {
		transform: translateX(0);
	}
}

.banner {
	img {
		width: 100%;
		height: auto;
		margin-bottom: 80/1400 * 100%;
	}
	@media (max-width: 820px) {
		padding-top: 90px;
	}
}
.cong {
	overflow: hidden;
	margin-bottom: 45/1400 * 100%;
	.box {
		width: 500%;
		.ani {
			display: inline-flex;
			animation: a linear 40s infinite;
			img {
				height: (135/2) + px;
			}
			span {
				margin-right: 60px;
			}
		}
	}
	@media (max-width: 577px) {
		.box {
			margin-bottom: 40px;
			.ani {
				// animation: a linear 30s infinite;
				img {
					height: auto;
					width: auto;
					max-height: 30px;
				}
				span {
					margin-right: 30px;
				}
			}
		}
	}
}
@keyframes a {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	#aboutImg {
		width: 600/1400 * 100%;
		text-align: center !important;

		canvas {
			max-width: 75%;
			transform: initial !important;
		}
	}
	.txt {
		width: 680/1400 * 100%;
	}
	.title {
		margin-bottom: 15px;
		img {
			max-width: 637px;
			width: 100%;
		}
	}

	.info {
		display: flex;
		align-items: flex-end;
		line-height: 23.8px;
		font-size: 17px;
		font-weight: 400;
		.xing {
			width: 50px;
		}
		P {
			margin-bottom: 32px;
		}
		div:nth-child(1) {
			flex: 1;
			// width: 90%;
		}
		.xing img {
			transform: translate(15px, 50%);
			max-width: 110px;
		}
		@keyframes aa {
			0% {
				transform: translateY(50%);
			}
			50% {
				transform: translateY(80%);
			}
			100% {
				transform: translateY(50%);
			}
		}
	}
	@media (max-width: 577px) {
		display: block;
		flex-direction: column;
		margin-bottom: -20px;
		#aboutImg {
			width: 100%;
			min-height: 284px;
			canvas {
				// width: ;
			}
		}
		.txt {
			width: 100%;
			.title {
				text-align: center;
				img {
					// max-width: 80%;
				}
			}
		}
		.info {
			flex-direction: column;
			position: relative;
			p {
				width: 100% !important;
				position: relative;
				z-index: 3;
			}

			.xing img {
				width: 55px;
				transform: translate(15px, -45px);
			}
		}
	}
}
.TOKENOMICS {
	h2 {
		position: relative;
		z-index: 2;
		text-align: center;
		margin-bottom: 50px;
		img {
			max-width: 325px;
		}
	}
	.box {
		display: flex;
		max-height: 464px;
		background: rgb(238, 255, 212);
		border-radius: 60px;
		position: relative;
		.wo {
			position: absolute;
			top: 0;
			right: 25%;
			transform: translateY(-100%);
			// animation: wo linear 80s infinite;
			transform-origin: center bottom;
			max-width: 79px;
			@keyframes wo {
				0% {
					transform: translate(0%, -100%);
				}

				50% {
					transform: translate(-500%, -100%);
				}
				50.1% {
					transform: translate(-500%, -100%) rotateY(180deg);
				}
				100% {
					transform: translate(0%, -100%) rotateY(180deg);
				}
			}
		}

		.img {
			width: 530/1400 * 100%;
			position: relative;

			padding: 0px 20px;
			.an {
				animation: aaa linear 10s infinite;
			}
			@keyframes aaa {
				0% {
					transform: translate(-50%, -50%);
				}
				50% {
					transform: translate(-50%, -43%);
				}
				100% {
					transform: translate(-50%, -50%);
				}
			}

			img {
				position: absolute;
				max-width: 958/2 + px;
				width: calc(100% - 40px);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.xing {
				max-width: 100px;
				left: 20px;
				top: -70px;
			}
		}
		.info {
			flex: 1;
			padding: 30/870 * 100%;
		}
		.txt-1 {
			font-size: 18px;
			font-weight: 400;
			color: rgb(255, 152, 57);
			line-height: 25.5px;
			font-family: Helvetica;
		}
		.total {
			font-size: 70px;
			color: rgb(255, 152, 57);
			font-weight: bold;
			margin: 0 10/870 * 100% 0;
		}
		ul {
			color: rgb(51, 51, 51);
			line-height: 28px;
			margin-bottom: 30/870 * 100%;
			padding-left: 20px;
			li {
				text-indent: -14px;
				line-height: 18px;
				color-scheme: light;
				-webkit-font-smoothing: antialiased;
				// margin-bottom: 10px;
				font-size: 17px;
				// height: 28.625px;
				line-height: 28.63px;
				&::before {
					margin-right: 5px;
					content: '';
					width: 8px;
					height: 8px;
					border-radius: 50%;
					display: inline-block;
					background: rgb(51, 51, 51);
					vertical-align: middle;
				}
			}
		}
		.footer {
			display: flex;
			align-items: center;
			height: 59px;
			line-height: 57px;
			border: 1px solid #000;
			border-radius: 10px;
			padding: 0 20px;
			.name {
				padding: 0 20px 0 0px;
				font-size: 20px;
				color: #000;
				img {
					vertical-align: middle;
					max-width: (300/2) + px;
				}
			}
			.line {
				flex: 1;
				position: relative;
				color: #000;
			}
			.icon {
				flex: 1;
				margin-left: 20px;
				overflow-wrap: break-word;

				word-break: break-all;
				line-height: 16px;
				color: #000;
				img {
					display: inline-block;
					vertical-align: middle;
					width: 14px;
					margin-left: 10px;
					cursor: pointer;
				}
			}
		}
	}
	@media (max-width: 577px) {
		margin-top: 50px;
		h2 {
			margin: 20px 0;
			img {
				max-width: 250px;
			}
		}
		.box {
			flex-direction: column;
			background: none;
			max-height: none;
			display: block;
			li {
				margin-bottom: 8px;
			}
			.img {
				position: relative;
				z-index: 2;
				width: 100%;
				text-align: center;
				margin-bottom: -140px;
				.xing {
					width: 55px;
				}
				.an {
					position: static;
					max-width: 250px;
					transform: translate(-5%, 0%);
					animation: aaa linear 10s infinite;
				}
				@keyframes aaa {
					0% {
						transform: translate(0%, 0%);
					}
					50% {
						transform: translate(0%, 7%);
					}
					100% {
						transform: translate(0%, 0%);
					}
				}
			}
			.info {
				background: rgb(238, 255, 212);
				border-radius: 40px;
				padding-top: 140px;
				position: relative;
				.total {
					line-height: 30px;
					padding: 20px 0;
				}
			}
			.footer {
				height: auto !important;
				line-height: 40px;
				padding: 0 20px 10px;
				flex-direction: column;
				text-align: center;
				line-height: 45px;
				.name img {
					width: 120px;
				}
				margin-bottom: 20px;
				margin-top: 10px;
			}
		}
		.wo {
			width: 40px;
		}
	}
}

.pro-list {
	display: flex;
	margin-bottom: 180/1400 * 100%;
	justify-content: end;
	padding-top: 20px;
	padding-left: 30%;
	gap: 20px;
	img {
		height: auto;
		max-height: 70px;
	}
	@media (max-width: 577px) {
		gap: 10px;
		padding-left: 0px;
		display: block;
		text-align: center;
		li {
			// width: 33.33%;
			display: inline-block;
		}
		img {
			height: 50px;
		}
	}
}

.buy {
	margin-bottom: 59/1400 * 100%;
	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-bottom: 100/1400 * 100%;
		.title {
			width: 1134/1400 * 100%;
		}
		span.title {
			width: auto;
			font-size: 95px;
		}

		a {
			line-height: 0;
			text-align: center;
			span {
				display: inline-block;
			}
		}
		.img-1 {
			position: relative;
			z-index: 2;
			margin-bottom: -3px;
		}
	}
	ul {
		display: flex;
		gap: 15px;
		text-align: center;

		li {
			position: relative;
			width: 25%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-radius: 59px;
			color: rgb(0, 0, 0);
			font-size: 14px;
			padding: 0 22px;
			&:nth-child(1) {
				.img {
					img {
						transform: translateX(2%);
					}
				}
			}
		}
		.step {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			img {
				max-width: 99px;
			}
			span {
				display: inline-block;
				line-height: 40px;
				height: 40px;
				border: 1px solid #000;
				font-size: 19px;
				border-radius: 20px;
				background: #fff;
				padding: 0 10px;
			}
		}
		.img {
			line-height: 0;
		}
		h2 {
			font-size: 28px;
			font-weight: 400;
			line-height: 30.8px;
			padding: 35px 0 20px;
			margin-bottom: 0;
			width: 200px;
			margin: 0 auto;
			-webkit-font-smoothing: antialiased;
			&.japan {
				width: auto;
			}
		}
		p {
			flex-grow: 1;
			padding-bottom: 20px;

			font-size: 15px;
			font-weight: 400;
			line-height: 17.89px;
			color-scheme: light;
			-webkit-font-smoothing: antialiased;
			span {
				overflow-wrap: break-word;
				word-break: break-all;
			}
		}
		img {
			max-width: 90%;
		}
		li:nth-child(1) {
			background: rgb(255, 152, 57);
		}
		li:nth-child(2) {
			background: rgb(98, 163, 76);
			img {
				max-width: 100%;
				transform: translateY(3px);
			}
		}
		li:nth-child(3) {
			background: rgb(237, 255, 212);
		}
		li:nth-child(4) {
			background: rgb(242, 212, 91);
		}
	}
	div.japan {
		li {
			padding: 0 15px !important;
		}
		h2 {
			font-size: 26px !important;
			width: auto !important;
		}
		p {
			font-size: 13px !important;
		}
	}
	@media (max-width: 820px) {
		.list {
			padding-top: 20px;
			overflow-x: auto;
			overflow-y: hidden;
			margin: 0 -20px;
		}
		ul {
			width: 190%;
			padding: 0 20px;
			li {
				width: 49%;
			}
		}
	}
	@media (max-width: 577px) {
		.list {
			padding-top: 20px;
			overflow-x: auto;
			overflow-y: hidden;
			margin: 0 -20px;
		}
		margin-bottom: 40px;
		h2 {
			flex-direction: column;
			a {
				width: 100px;
			}
		}

		ul {
			// margin: 0 -20px;
			gap: 30px;
			width: 370%;
			li {
				width: 50%;
				// margin-left: 20px;
				img {
					max-width: 70%;
				}
			}
		}
	}
}
.footer-page {
	background: rgb(163, 194, 90) url(../image/img/wave3.svg) no-repeat 0 bottom;
	background-size: 100% auto;
	border-radius: 60px 60px 0 0;
	padding-bottom: 40px;
	overflow: hidden;
	margin-bottom: -20px;
	.ft {
		display: flex;
		padding-top: 20/1400 * 100%;
		.img,
		#demoCanvas {
			width: 330px;
			max-height: 420px;
		}
		.txt {
			padding-left: 60px;
			padding-top: 10px;
			flex: 1;
			img {
				max-width: 430px;
			}
		}
		h2 {
			margin-top: 80px;
			font-size: 64px;
		}
		h3 {
			padding: 20px 0;
			font-size: 32px;
		}
		p {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 20px;
		}
	}
	@media (max-width: 820px) {
		// margin-bottom: -25px;
		.txt {
			padding-left: 10px;
		}
	}
	@media (max-width: 577px) {
		.ft {
			display: block;
			padding-top: 40px;
			font-size: 15px;
			font-weight: 500;
			#demoCanvas {
				width: 120px;
				height: 120px;
				float: left;
			}
			.txt {
				overflow: hidden;
				padding-left: 0px;
				h2 {
					margin-top: 0;
					font-weight: 500;
				}
				img {
					max-width: 200px;
					width: 100%;
				}
				h3 {
					font-size: 22px;
				}
				p {
					font-size: 14px;
					line-height: 15px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.copyright {
	background: url(../image/Intersect.png) no-repeat;
	background-size: 100% auto;
	padding-top: 50px;
	gap: 10px;
	margin-top: -20px;
	position: relative;
	-webkit-font-smoothing: antialiased;

	&::before {
		position: absolute;
		display: block;
		content: '';
		left: 0;
		right: 0;
		top: 10%;
		bottom: 0px;
		background-color: #f3d45b;
		z-index: -1;
	}
	.ft {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.t1 {
			font-size: 15px;
			font-weight: 500;
			color: #000;
		}
		.icon {
			display: flex;
			justify-content: center;
			gap: 10px;
			width: 350px;
			line-height: 30px;
			span:nth-child(1) {
				background: rgb(51, 51, 51);
				height: 30px;
				line-height: 30px;
				border-radius: 15px;
				padding: 0 10px;
				font-size: 14px;
				display: flex;
				gap: 7px;
			}
		}
		.Contract {
			flex: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #000;
			overflow-wrap: break-word;
			word-break: break-all;
			.title {
			}

			.line {
				flex: 1;
				height: 1px;
				background-color: #000;
				margin: 0 10px;
			}
			img {
				margin-left: 5px;
				width: 16px;
				cursor: pointer;
			}
		}
	}
	.com {
		margin-top: 20px;
		padding: 15px 0;
		border-top: 2px solid rgba(51, 51, 51, 0.2);
		color: rgba(51, 51, 51, 0.2);
		font-size: 15px;
		line-height: 21px;
	}
	@media (max-width: 820px) {
		padding-top: 0px;

		.ft {
			flex-direction: column;
			padding: 30px 0 0;
			gap: 10px;
			.Contract {
				width: 300px;
			}
		}
	}
	.copyright-box {
		background-color: #f3d45b;
	}
}
